services:
  workcell_simulation:
    image: ghcr.io/gkim0127/workcell_simulation:250924
    container_name: workcell_simulation
    hostname: ${HOSTNAME}
    privileged: true
    network_mode: host
    environment:
      - DISPLAY=${DISPLAY}
      - QT_X11_NO_MITSHM=1
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix:ro
      - ./:/root/workcell_ws_classic        # = -v "$PWD":/root/workcell_ws_classic
    # GPU (Compose v2; if it doesn't work on your host, comment and use device_requests below)
    deploy:
      resources:
        reservations:
          devices:
            - capabilities: [gpu]
    # device_requests:
    #   - capabilities: ["gpu"]             # alternative GPU syntax for some setups
    stdin_open: true                        # -it
    tty: true                               # -it
    command: ["bash"]                       # start an interactive shell
