services:
  workcell_simuation:
    image: ghcr.io/rubykim01/workcell_image:251010
    container_name: workcell
    hostname: ${HOSTNAME}
    network_mode: host
    privileged: true
    runtime: nvidia
    environment:
      DISPLAY: ${DISPLAY}
      QT_X11_NO_MITSHM: 1
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix:ro
      - .:/root/workcell_ws_classic
    working_dir: /root/workcell_ws_classic
    entrypoint: ["/bin/bash"]
