<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Gazebo material definitions for workcell components -->
  <!-- These ensure proper color rendering in Gazebo simulation -->

  <!-- UR Workcell Components -->
  <gazebo reference="ur10_trolley_link">
    <material>Gazebo/LightGrey</material>
  </gazebo>

  <gazebo reference="ur10_feeder_link">
    <material>Gazebo/Grey</material>
  </gazebo>

  <gazebo reference="ur10_heating_plate_1_link">
    <material>Gazebo/LightGrey</material>
  </gazebo>

  <gazebo reference="ur10_heating_plate_2_link">
    <material>Gazebo/LightGrey</material>
  </gazebo>

  <gazebo reference="ur10_heating_plate_cover_1_link">
    <material>Gazebo/DarkGrey</material>
  </gazebo>

  <gazebo reference="ur10_heating_plate_cover_2_link">
    <material>Gazebo/DarkGrey</material>
  </gazebo>

  <gazebo reference="ur10_heating_plate_cover_3_1_link">
    <material>Gazebo/Black</material>
  </gazebo>

  <gazebo reference="ur10_heating_plate_cover_3_2_link">
    <material>Gazebo/Black</material>
  </gazebo>

  <gazebo reference="ur10_plate_link">
    <material>Gazebo/Grey</material>
  </gazebo>


  <!-- Vision Components -->
  <gazebo reference="vision_trolley_link">
    <material>Gazebo/LightGrey</material>
  </gazebo>

  <gazebo reference="vision_cam_jig_link">
    <material>Gazebo/Purple</material>
  </gazebo>

  <gazebo reference="vision_feeder_link">
    <material>Gazebo/Orange</material>
  </gazebo>

  <!-- Toolchanger Components -->
  <gazebo reference="toolchanger_trolley_link">
    <material>Gazebo/LightGrey</material>
  </gazebo>

  <gazebo reference="tool_changer_link">
    <material>Gazebo/Yellow</material>
  </gazebo>

  <!-- ARF Components -->
  <gazebo reference="arf_trolley_link">
    <material>Gazebo/LightGrey</material>
  </gazebo>

  <gazebo reference="arf_base_plate_link">
    <material>Gazebo/DarkGrey</material>
  </gazebo>

  <gazebo reference="arf_slider_base_link">
    <material>Gazebo/Grey</material>
  </gazebo>

  <gazebo reference="arf_slider_link">
    <material>Gazebo/Green</material>
  </gazebo>

  <gazebo reference="arf_slider_jig_link">
    <material>Gazebo/Blue</material>
  </gazebo>

  <gazebo reference="arf_front_aircyl_link">
    <material>Gazebo/Blue</material>
  </gazebo>

  <gazebo reference="arf_back_aircyl_link">
    <material>Gazebo/Blue</material>
  </gazebo>

  <!-- Denso Components -->
  <gazebo reference="denso_trolley_link">
    <material>Gazebo/LightGrey</material>
  </gazebo>

  <gazebo reference="denso_slider_jig_link">
    <material>Gazebo/Grey</material>
  </gazebo>

</robot> 