<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Gazebo material definitions for workcell components -->
  <!-- These ensure proper color rendering in Gazebo simulation -->

  <!-- UR Link Components -->
  <gazebo reference="ur10_trolley_link">
    <material>Gazebo/LightGrey</material>
  </gazebo>

  <gazebo reference="ur10_feeder_link">
    <material>Gazebo/LightGrey</material>
  </gazebo>

  <gazebo reference="ur10_plate_link">
    <material>Gazebo/Grey</material>
  </gazebo>

  <!-- UR Joint Components-->
  <gazebo reference="ur10_feeder_joint">
    <preserveFixedJoint>true</preserveFixedJoint>
  </gazebo>

  <gazebo reference="ur10_heating_plate_1_joint">
    <preserveFixedJoint>true</preserveFixedJoint>
  </gazebo>

  <gazebo reference="ur10_heating_plate_2_joint">
    <preserveFixedJoint>true</preserveFixedJoint>
  </gazebo>

  <gazebo reference="ur10_heating_plate_cover_1_joint">
    <preserveFixedJoint>true</preserveFixedJoint>
  </gazebo>

  <gazebo reference="ur10_heating_plate_cover_2_joint">
    <preserveFixedJoint>true</preserveFixedJoint>
  </gazebo>

  <gazebo reference="ur10_heating_plate_cover_3_1_joint">
    <preserveFixedJoint>true</preserveFixedJoint>
  </gazebo>

  <gazebo reference="ur10_heating_plate_cover_3_2_joint">
    <preserveFixedJoint>true</preserveFixedJoint>
  </gazebo>

  <gazebo reference="ur10_plate_joint">
    <preserveFixedJoint>true</preserveFixedJoint>
  </gazebo>
  

  <!-- Quickchanger and Gripper Link Components -->
  <gazebo reference="quickchanger_link">
    <material>Gazebo/Grey</material>
  </gazebo>

  <gazebo reference="suction_master_link">
    <material>Gazebo/Grey</material>
  </gazebo>

  <gazebo reference="suction_link">
    <material>Gazebo/LightGrey</material>
  </gazebo>

  <gazebo reference="gripper_link">
    <material>Gazebo/Black</material>
  </gazebo>

  <gazebo reference="tooltip1_link">
    <material>Gazebo/LightGrey</material>
  </gazebo>

  <gazebo reference="tooltip2_link">
    <material>Gazebo/LightGrey</material>
  </gazebo>
  
  <!-- Quickchanger and Gripper Joint Components -->
  <gazebo reference="quickchanger_joint">
    <preserveFixedJoint>true</preserveFixedJoint>
  </gazebo>
  
  <gazebo reference="suction_master_joint">
    <preserveFixedJoint>true</preserveFixedJoint>
  </gazebo>

  <gazebo reference="suction_joint">
    <preserveFixedJoint>true</preserveFixedJoint>
  </gazebo>

  <gazebo reference="gripper_joint">
    <preserveFixedJoint>true</preserveFixedJoint>
  </gazebo>


  <!-- Vision LinkComponents -->
  <gazebo reference="vision_trolley_link">
    <material>Gazebo/LightGrey</material>
  </gazebo>

  <gazebo reference="vision_cam_jig_link">
    <material>Gazebo/Red</material>
  </gazebo>

  <gazebo reference="vision_feeder_link">
    <material>Gazebo/Orange</material>
  </gazebo>

  <!-- Vision Joint Components -->
  <gazebo reference="vision_trolley_joint">
    <preserveFixedJoint>true</preserveFixedJoint>
  </gazebo>

  <gazebo reference="vision_cam_jig_joint">
    <preserveFixedJoint>true</preserveFixedJoint>
  </gazebo>

  <gazebo reference="vision_feeder_joint">
    <preserveFixedJoint>true</preserveFixedJoint>
  </gazebo>

  <!-- Toolchanger Link Components -->
  <gazebo reference="toolchanger_trolley_link">
    <material>Gazebo/LightGrey</material>
  </gazebo>

  <gazebo reference="tool_changer_link">
    <material>Gazebo/Yellow</material>
  </gazebo>

  <!-- Toolchanger Joint Components -->
  <gazebo reference="toolchanger_tool_changer_joint">
    <preserveFixedJoint>true</preserveFixedJoint>
  </gazebo>

  <!-- ARF Link Components -->
  <gazebo reference="arf_trolley_link">
    <material>Gazebo/LightGrey</material>
  </gazebo>

  <gazebo reference="arf_x_axis_link">
    <material>Gazebo/Grey</material>
  </gazebo>

  <gazebo reference="arf_y_axis_link">
    <material>Gazebo/Grey</material>
  </gazebo>

  <gazebo reference="arf_jig_link">
    <material>Gazebo/Green</material>
  </gazebo>

  <gazebo reference="arf_front_aircyl_link">
    <material>Gazebo/Green</material>
  </gazebo>

  <gazebo reference="arf_back_aircyl_link">
    <material>Gazebo/Green</material>
  </gazebo>

  <!-- ARF Joint Components -->
  <gazebo reference="arf_x_axis_joint">
    <preserveFixedJoint>true</preserveFixedJoint>
  </gazebo>

  <gazebo reference="arf_y_axis_joint">
    <preserveFixedJoint>true</preserveFixedJoint>
  </gazebo>

  <!-- ARF Elec Link Components -->
  <gazebo reference="arf_elec_trolley_link">
    <material>Gazebo/LightGrey</material>
  </gazebo>
  <gazebo reference="arf_elec_x_axis_link">
    <material>Gazebo/Blue</material>
  </gazebo>
  <gazebo reference="arf_elec_y_axis_link">
    <material>Gazebo/Blue</material>
  </gazebo>
  <gazebo reference="arf_elec_jig_link">
    <material>Gazebo/Blue</material>
  </gazebo>
  <gazebo reference="arf_elec_aircyl_1_link">
    <material>Gazebo/Blue</material>
  </gazebo>
  <gazebo reference="arf_elec_aircyl_1_2_link">
    <material>Gazebo/Blue</material>
  </gazebo>
  <gazebo reference="arf_elec_aircyl_2_link">
    <material>Gazebo/Blue</material>
  </gazebo>

  <!-- ARF Elec Joint Components -->
  <gazebo reference="arf_elec_x_axis_joint">
    <preserveFixedJoint>true</preserveFixedJoint>
  </gazebo>
  <gazebo reference="arf_elec_y_axis_joint">
    <preserveFixedJoint>true</preserveFixedJoint>
  </gazebo>
  <gazebo reference="arf_elec_jig_joint">
    <preserveFixedJoint>true</preserveFixedJoint>
  </gazebo>

  <gazebo reference="arf_elec_aircyl_1_joint">
    <preserveFixedJoint>true</preserveFixedJoint>
  </gazebo>
  <gazebo reference="arf_elec_aircyl_1_2_joint">
    <preserveFixedJoint>true</preserveFixedJoint>
  </gazebo>
  <gazebo reference="arf_elec_aircyl_2_joint">
    <preserveFixedJoint>true</preserveFixedJoint>
  </gazebo>


  <!-- Denso Link Components -->
  <gazebo reference="denso_trolley_link">
    <material>Gazebo/LightGrey</material>
  </gazebo>

  <gazebo reference="denso_slider_jig_link">
    <material>Gazebo/Grey</material>
  </gazebo>

  <!-- Denso Joint Components -->
  <gazebo reference="denso_trolley_joint">
    <preserveFixedJoint>true</preserveFixedJoint>
  </gazebo>

  <gazebo reference="denso_slider_jig_joint">
    <preserveFixedJoint>true</preserveFixedJoint>
  </gazebo>

  <!-- Supply Link Components -->
  <gazebo reference="feeder_base_link">
    <material>Gazebo/LightGrey</material>
  </gazebo>

  <gazebo reference="feeder_x_axis_mobile_base_link">
    <material>Gazebo/Grey</material>
  </gazebo>

  <gazebo reference="feeder_y_axis_plate_link">
    <material>Gazebo/Grey</material>
  </gazebo>

  <gazebo reference="feeder_arm_base_link">
    <material>Gazebo/Grey</material>
  </gazebo>

  <gazebo reference="feeder_arm_slider_link">
    <material>Gazebo/Grey</material>
  </gazebo>

  <gazebo reference="feeder_arm_plate_link">
    <material>Gazebo/Grey</material>
  </gazebo>

  <!-- Supply Joint Components -->
  <gazebo reference="feeder_base_joint">
    <preserveFixedJoint>true</preserveFixedJoint>
  </gazebo>

  <gazebo reference="feeder_x_axis_mobile_base_joint">
    <preserveFixedJoint>true</preserveFixedJoint>
  </gazebo>

  <gazebo reference="feeder_y_axis_plate_joint">
    <preserveFixedJoint>true</preserveFixedJoint>
  </gazebo>

  <gazebo reference="feeder_y_axis_plate_feeder_arm_base_joint">
    <preserveFixedJoint>true</preserveFixedJoint>
  </gazebo>

  <gazebo reference="feeder_arm_base_feeder_arm_slider_joint">
    <preserveFixedJoint>true</preserveFixedJoint>
  </gazebo>

  <gazebo reference="feeder_arm_slider_feeder_arm_plate_joint">
    <preserveFixedJoint>true</preserveFixedJoint>
  </gazebo>

  <gazebo reference="feeder_arm_plate_feeder_arm_joint">
    <preserveFixedJoint>true</preserveFixedJoint>
  </gazebo>

</robot> 