<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="denso_robot">

  <!-- robot name parameter -->
  <!-- parameters -->
  <xacro:arg name="namespace" default="" />

  <xacro:include filename="$(find ur_moveit)/srdf/denso_robot_macro.srdf.xacro"/>

  <xacro:denso_robot_srdf name="$(arg namespace)" namespace="$(arg namespace)"/>

</robot>
